Package: com.amywhile.exampleapp
Name: ExampleTweak
Version: 1.0
Architecture: iphoneos-arm
Description: An example Xcode App
Maintainer: Amy While
Author: Amy While
Section: Tweaks
Depends: firmware(>=12.2) | org.swift.libswift (>=5.0)
